* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #456392;

font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;
font-family: 'Mulish', sans-serif;
font-family: 'PT Sans', sans-serif;
font-weight: 700;
font-size: 32px;
text-align: center;
margin-left: 30%;
margin-top: 20px;

color: #FFFFFF;
}
body {
    background: #456392
}

aside {
    background-color:#253A5C;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside img {
    width: 100px;
    height: 100px;

}

.linha {
    border-bottom: 1px solid #969090;
    width: 200px;
    height: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.botao {
    width: 216px;
    height: 64px;
    background: #41AF1A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao span {
    color: #FFFFFF;
    font-family: 'Mulish', sans-serif;
}

.container {
    height: 100%;
    width: 60%;
}
.box {
    display: flex;
    width: 100vw;
    height: 100vh;
    }

.cards {
    flex-wrap:wrap;
    flex-direction:row;
}
.unitario {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 25%;
    height: 350px;
}

.unitario img {
    border-radius: 50%;
}

.unitario h3 {
    font-family: 'Mulish', sans-serif;
    color: #131E30;
    margin-top: 10px;
    margin-bottom: 10px;
}

.unitario h4 {
    font-family: 'Mulish', sans-serif;
    color: #131E30;
    margin-top: 10px;
    margin-bottom: 20px;
}